@namespace PsiCat.Home

@page "/lights"
@using PsiCat.SmartDevices
@inject PsiCatClient Client
@inject SmartDevicesPlugin SmartDevices

<h3>Lights</h3>
<button type="button" @onclick="Refresh" disabled="@RefreshDisabled">
    <span class="oi oi-reload"></span>
    Refresh
</button>

<div>
    <ul>
        @foreach (SmartDevice light in Config.Devices
            .Where(device => device.Type == SmartDeviceType.Light))
        {
            <li><Yeelight SmartDevice="light" @ref="@yeelightElement" /></li>
        }
    </ul>    
</div>

<footer>
    <TextConsole Contents="@(Client.Logger as IConsoleContents)" Rows="1" />
</footer>