@page "/lights"
@using System.Timers
@using PsiCat.SmartDevices
@inject PsiCatClient Client
@inject SmartDevicesPlugin SmartDevices

<h3>Lights</h3>

<div>
    <ul>
        @foreach (SmartDevice light in Config.Devices
            .Where(device => device.Type == SmartDeviceType.Light))
        {
            <li><Yeelight SmartDevice="light" @ref="@yeelightElement" /></li>
        }
    </ul>    
</div>


@code 
{
    private List<Yeelight?> Yeelights { get; set; } = new List<Yeelight?>();
    private Timer timer = new Timer();
    
    private SmartDevicesConfig Config
    {
        get { return (SmartDevicesConfig)SmartDevices.Config; }
    }

    private SmartLights SmartLights
    {
        get { return SmartDevices.SmartLights; }
    }
    
    private Yeelight? yeelightElement
    {
        set { Yeelights.Add(value); }
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            timer.Elapsed += PollState;
            timer.Interval = 1000;
            timer.AutoReset = true;
            timer.Start();    
        }
        
        base.OnAfterRender(firstRender);
    }


    private async void PollState(object? sender, ElapsedEventArgs e)
    {
        foreach (Yeelight? light in Yeelights)
        {
            if (light != null)
                await light.UpdateState();
        }
        await InvokeAsync(StateHasChanged);
    }
}